.grid_insertion {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tx-title repartition-title"
                       "tx-graph repartition-graph";
}

@media screen and (max-width: 700px) {
  .grid_insertion {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas: "tx-title"
                         "tx-graph"
                         "repartition-title"
                         "repartition-graph";
  }
}

.tx_title {
  grid-area: tx-title;
}

.tx_graph {
  grid-area: tx-graph;
}

.repartition_title {
  grid-area: repartition-title;
}

.repartition_graph {
  grid-area: repartition-graph;
}
