.home_root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.no_year_out {
  color: rgb(202, 67, 67);
}

.small {
  font-size: .9rem;
}

.actions_job {
  display: flex;
  justify-content: space-between;
}


