.root {
  flex-grow: 1;
}
.menuButton {
  margin-right: 1.5rem;
}
.title {
  flex-grow: 1;
}
.container {
  margin-top: 1.5rem;
}
.home_title {
  color: rgb(58, 58, 58);
}
.bioinfologo {
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}