.root {
  flex-grow: 1;
}
.title {
  flex-grow: 1;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}
.inline_company {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.container {
  margin-top: 1rem;
}
.color_header {
  height: 17rem;
  max-height: 300px;

  width: 100%;
  box-sizing: border-box;

  background: linear-gradient(#e88724, white);

  text-align: center;
  padding: 14px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  position: relative;
}
.color_header_texts {
  & > * {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    letter-spacing: -0.2rem !important;
  }

  h2 {
    color: #691612 !important;
  }

  h4 {
    color: #42270b !important;
  }
}

.button_login {
  button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1rem;
    font-weight: bold;

    @media screen and (max-width: 600px) {
      bottom: -1rem;
    }

    @media screen and (max-width: 500px) {
      bottom: -3rem;
    }

    @media screen and (max-width: 400px) {
      width: 75%;
    }
  }
  
  transition: .3s;
  text-decoration: none;
}

.home_title_main {
  text-align: center;
}
.home_main_title {
  font-weight: 300 !important;
  font-size: 2.5rem !important;

  @media screen and (max-width: 600px) {
    margin-top: 1.5rem !important;
  }

  @media screen and (max-width: 500px) {
    margin-top: 4rem !important;
  }
}
.home_title, .home_main_title, .home_title_main {
  color: rgb(58, 58, 58);
}
.mainlogoblock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 10px;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
.mainlogolink1 {
  @media screen and (min-width: 500px) {
    text-align: end;
  }
}
.mainlogo {
  max-height: 150px;
  max-width: 100%;
}
.bioinfologo {
  max-width: 100%;
  max-height: 70px;
  display: block;
  margin: auto;

  @media screen and (max-width: 700px) {
    max-height: 120px;
  }
}
.responsive_img_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
