body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 600 !important;
}

.button-green:not(:disabled) {
  color: rgb(51, 117, 51) !important;
}

.button-blue:not(:disabled) {
  color: rgb(42, 109, 153) !important;
}

.link {
  color: inherit;
  text-decoration: none;
}
.link:hover:not(.no-underline) {
  text-decoration: underline;
}

.link-blue {
  color: #4385ff;
  text-decoration: none;
}
.link-blue:hover:not(.no-underline) {
  text-decoration: underline;
  color: #196aff;
}

@media screen and (max-width: 600px) {
  .MuiListItem-gutters.no-left {
    padding-left: 0 !important;
  }
}

