.lists_item > * {
  border: 1px #d2d2d2 solid;
  border-top: none;
}

.lists_item > *:first-child {
  border: 1px solid #d2d2d2;
}

.content_selection > * {
  margin-bottom: .5rem !important;
}

.in_load {
  filter: brightness(0.4);
}

.modal_base {
  transition: .5s;
}

.in_load_modal {
  opacity: .8;
  user-select: none;
  pointer-events: none;
}
